/* ===== Home ===== */

.home-body {
    margin: 0;
    width: 100%;
    height: 900px;
    background: rgb(173, 14, 178); 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.circulo-laranja {
    width: 420px;
    height: 420px;
    background: rgb(255, 140, 0); 
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}

.circulo-laranja h1 {
    margin: 0 0 15px 0;
    color: rgb(60, 1, 76);
    font-size: 30px;
}

.circulo-laranja p {
    margin-bottom: 20px;
    color: rgb(60, 1, 76);
    font-size: 16px;
    font-weight: bolder;
}

.circulo-laranja a {
    background: white;
    color: rgb(60, 1, 76) !important; /* força a cor do link para ser roxo, mesmo após ser visitado */
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.circulo-laranja a:hover {
    background:rgb(60, 1, 76);
    color: white;
}

/* ===== Body ===== */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background:rgb(60, 1, 76);
    /*===rgb(173, 14, 178);====*/
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.container-lista{
    width: 400px;
    margin-top: 60px;
}

input,
select {
    width: 100%;
    background: transparent; /* mesma cor do box */
    border: 2px solid rgb(60, 1, 76); 
    color:black; 
    padding: 10px;
    border-radius: 8px;
    outline: none;
    box-sizing: border-box; /* garante que o padding e a borda sejam incluídos na largura total */
}

input:focus,
select:focus {
    border: 2px solid rgb(173, 14, 178);
}

h2 {
    color: rgb(253, 139, 0); 
    margin-bottom: 30px;
}

.mb-3 {
    background: rgb(254, 164, 53);
    padding: 20px;  
    border-radius: 12px;
    margin-bottom: 15px;
}

.form-label {
    color: rgb(173, 14, 178); 
    font-weight: bold;
}

/* Lista de desejos */
/*Eu quis deixar cada desejo em um unico box, como se estivesse vendo um catalogo da netflix*/
.lista-desejos{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;   
}

.box-desejo {
    background: rgb(173, 14, 178); ;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    width: 250px;
}

.box-desejo:hover {
    transform: scale(1.03);
}

.box-desejo img {
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.card-conteudo h3 {
    margin: 10px 0 5px 0;
}

.card-conteudo p {
    font-size: 14px;
    margin: 5px 0;
}

.editar-apagar {
    background: rgb(254, 164, 53);
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

/* Botão salvar */
.button {
    background: white;
    color: rgb(173, 14, 178);
    border: 2.5px solid rgb(255, 140, 0);
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;

}

.button:hover {
    background: rgb(60, 1, 76); 
    color: white;
    transform: scale(1.03);
}

a {
    color: rgb(185, 29, 190); 
    font-weight: bold;
    transition: 0.3s;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 140, 0);
    text-decoration: none;
}


a:visited {
    color: white; 
    text-decoration: none;
}