{% extends "base.html" %}

{% block content %}

<form class="container-lista" method="post" enctype="multipart/form-data"> <!--Enctype é necessário para o flask receber as imagens -->
    <!-- Desejo -->
    <div class="mb-3">
        <label for="titulo_desejo" class="form-label">Título</label>
        <input type="text" class="form-control" name="titulo_desejo" id="titulo_desejo"
               value="{{ desejo_selecionado.titulo_desejo if desejo_selecionado else '' }}" required>
    </div>

    <!-- Tipo -->
    <div class="mb-3">
        <label for="tipo_desejo" class="form-label">Tipo</label>
        <select name="tipo_desejo" id="tipo_desejo" class="form-select" required>
            <option value="" disabled {% if not desejo_selecionado %}selected{% endif %}></option>
            <option value="Filme" {% if desejo_selecionado and desejo_selecionado.tipo_desejo =='Filme' %}selected{% endif %}>Filme</option>
            <option value="Série" {% if desejo_selecionado and desejo_selecionado.tipo_desejo == 'Série' %}selected{% endif %}>Série</option>
            <option value="Livro" {% if desejo_selecionado and desejo_selecionado.tipo_desejo == 'Livro' %}selected{% endif %}>Livro</option>
            <option value="Jogo" {% if desejo_selecionado and desejo_selecionado.tipo_desejo == 'Jogo' %}selected{% endif %}>Jogo</option>
        </select>
    </div>

    <!--Indicado Por -->
    <div class="mb-3">
        <label for="indicado_por" class="form-label">Indicado Por</label>
        <input type="text" class="form-control" name="indicado_por" id="indicado_por"
               value="{{ desejo_selecionado.indicado_por if desejo_selecionado else '' }}"> <!---Tirei o "Required" para que o campo seja opcional e não obrigatorio"-->
    </div>

    <!-- Imagem -->
<div class="mb-3">
    <label for="imagem" class="form-label">Imagem</label>
    <input type="file" class="form-control" name="imagem" id="imagem">
     <!--Type: campo para selecionar arquivos do pc-->
</div>

    <!-- Botões -->
    <button class="button">Salvar</button>
    {% if desejo_selecionado %}
        <a href="{{ url_for('lista') }}">Voltar</a>
    {% endif %}
</form>

<h2>Lista de Desejos</h2>

{% if desejos %}
    <ul>
<div class="lista-desejos">
        {% for desejo in desejos %}
            <div class="box-desejo">
                {% if desejo.imagem %}
                    <img src="{{ url_for('static', filename='images/' + desejo.imagem) }}" alt="Imagem do desejo">
                {% endif %}               
         
            <div class="card-conteudo">
                <h3>{{ desejo.titulo_desejo }}</h3>
                <p>{{ desejo.tipo_desejo }}</p>
                {% if desejo.indicado_por %}
                    <p>Indicado por: {{ desejo.indicado_por }}</p>
                {% endif %}
            </div>
            <div class="editar-apagar">
            <a href="{{ url_for('update', idDesejo=desejo.id_desejo) }}">Editar</a>
            <a href="{{ url_for('delete', idDesejo=desejo.id_desejo) }}">Apagar</a>
             </div>
 </div>
        {% endfor %}
    </ul>
{% else %}
    <p>Nenhum desejo cadastrado</p>
{% endif %}

{% endblock %}
