{% extends "base.html" %}

{% block content %}

<form class="mt-3" method="post" enctype="multipart/form-data"> <!--Enctype é necessário para o flask receber as imagens -->
    <!-- Desejo -->
    <div class="mb-3">
        <label for="titulo_desejo" class="form-label">Título</label>
        <input type="text" class="form-control" name="titulo_desejo" id="titulo_desejo"
               value="{{ desejo_selecionado.titulo_desejo if desejo_selecionado else '' }}" required>
    </div>

    <!-- Tipo -->
    <div class="mb-3">
        <label for="tipo_desejo" class="form-label">Tipo</label>
        <select name="tipo_desejo" id="tipo_desejo" class="form-select" required>
            <option value="" disabled {% if not desejo_selecionado %}selected{% endif %}>Escolha o tipo</option>
            <option value="Filme" {% if desejo_selecionado and desejo_selecionado.tipo_desejo =='Filme' %}selected{% endif %}>Filme</option>
            <option value="Série" {% if desejo_selecionado and desejo_selecionado.tipo_desejo == 'Série' %}selected{% endif %}>Série</option>
            <option value="Livro" {% if desejo_selecionado and desejo_selecionado.tipo_desejo == 'Livro' %}selected{% endif %}>Livro</option>
            <option value="Jogo" {% if desejo_selecionado and desejo_selecionado.tipo_desejo == 'Jogo' %}selected{% endif %}>Jogo</option>
        </select>
    </div>

    <!--Indicado Por -->
    <div class="mb-3">
        <label for="indicado_por" class="form-label">Indicado Por</label>
        <input type="text" class="form-control" name="indicado_por" id="indicado_por"
               value="{{ desejo_selecionado.indicado_por if desejo_selecionado else '' }}"> <!---Tirei o "Required" para que o campo seja opcional e não obrigatorio"-->
    </div>

    <!-- Imagem -->
<div class="mb-3">
    <label for="imagem" class="form-label">Imagem</label>
    <input type="file" class="form-control" name="imagem" id="imagem">
</div>

    <!-- Botões -->
    <button class="button">Salvar</button>
    {% if desejo_selecionado %}
        <a href="{{ url_for('lista') }}">Voltar</a>
    {% endif %}
</form>

<h2>Lista de Desejos</h2>

{% if desejos %}
    <ul>
        {% for desejo in desejos %}
         <li>
            {{ desejo.titulo_desejo }} - {{ desejo.tipo_desejo }}
              
            {% if desejo.indicado_por %}
                (Indicado por: {{ desejo.indicado_por }})
            {% endif %}

            <a href="{{ url_for('update', idDesejo=desejo.id_desejo) }}">Editar</a>
            <a href="{{ url_for('delete', idDesejo=desejo.id_desejo) }}">Apagar</a>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nenhum desejo cadastrado</p>
{% endif %}

{% endblock %}
